flow_twoesp32bno08x.json
[{"id":"6ebb87cc.26e3a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c3e1d579.e6c14","type":"csv","z":"6ebb87cc.26e3a8","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"time, time2, x,y,z","skip":"0","strings":true,"x":990,"y":780,"wires":[["f6bbc814.dcc88"]]},{"id":"f6bbc814.dcc88","type":"file","z":"6ebb87cc.26e3a8","name":"log sensor data","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1160,"y":780,"wires":[[]]},{"id":"6f8a01da.02fac","type":"function","z":"6ebb87cc.26e3a8","name":"set global saveData","func":"global.set(\"saveData\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":700,"wires":[[]]},{"id":"764fc53b.dcb06c","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":740,"wires":[]},{"id":"f9235f3c.1f2a9","type":"ui_switch","z":"6ebb87cc.26e3a8","name":"","label":"Recording","tooltip":"","group":"3ae27b4c.8ebb6c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":700,"wires":[["6f8a01da.02fac","764fc53b.dcb06c"]]},{"id":"e2c73ddc.06b37","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":380,"wires":[]},{"id":"87b25120.15d6c8","type":"function","z":"6ebb87cc.26e3a8","name":"format xyz data","func":"var d = new Date();\nvar accelID = msg.payload.accelID;\nmsg.payload = [d.getTime(),msg.payload.time,msg.payload.xval,msg.payload.yval,msg.payload.zval,msg.payload.rssi];\nmsg.filename=\"/home/pi/logs/\"+global.get(\"fileName\")+\"_\"+accelID+\".csv\";\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":780,"wires":[["c3e1d579.e6c14","bd82501e.dd7148"]]},{"id":"94b20ba0.54ac","type":"mqtt in","z":"6ebb87cc.26e3a8","name":"","topic":"data/accel1","qos":"2","datatype":"auto","broker":"71c19d9.70226e4","x":170,"y":780,"wires":[["18559074.bfe0d8","b0729464.774728"]]},{"id":"bd82501e.dd7148","type":"debug","z":"6ebb87cc.26e3a8","name":"format xyz data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":820,"wires":[]},{"id":"e7185e13.afd3a8","type":"comment","z":"6ebb87cc.26e3a8","name":"Save to CSV file","info":"","x":160,"y":660,"wires":[]},{"id":"f95855ca.bfa4a8","type":"comment","z":"6ebb87cc.26e3a8","name":"Save UI","info":"","x":90,"y":300,"wires":[]},{"id":"18559074.bfe0d8","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":840,"wires":[]},{"id":"9d934f86.6cb7b8","type":"ui_switch","z":"6ebb87cc.26e3a8","name":"","label":"Show first sensor","tooltip":"","group":"3ae27b4c.8ebb6c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1010,"y":260,"wires":[["6f7e387a.535fb"]]},{"id":"6f7e387a.535fb","type":"function","z":"6ebb87cc.26e3a8","name":"set showSensor1","func":"global.set(\"showSensor1\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":260,"wires":[[]]},{"id":"66dc6fca.b4a55","type":"mqtt in","z":"6ebb87cc.26e3a8","name":"","topic":"accel/timePassed","qos":"2","datatype":"auto","broker":"71c19d9.70226e4","x":160,"y":540,"wires":[["544da469.c6ac0c","f07486bd.67256"]]},{"id":"544da469.c6ac0c","type":"function","z":"6ebb87cc.26e3a8","name":"set timePassed","func":"global.set(\"timePassed\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":540,"wires":[[]]},{"id":"d41a3c76.1135","type":"ui_form","z":"6ebb87cc.26e3a8","name":"","label":"filename form","group":"afeefa84.086678","order":2,"width":0,"height":0,"options":[{"label":"folder","value":"folder","type":"text","required":true,"rows":null},{"label":"test","value":"test","type":"text","required":true,"rows":null},{"label":"wire length","value":"wire_length","type":"text","required":false,"rows":null},{"label":"shield? (Y/N)","value":"shielded","type":"text","required":false,"rows":null}],"formValue":{"folder":"","test":"","wire_length":"","shielded":""},"payload":"","submit":"submit","cancel":"cancel","topic":"rpi-display","x":160,"y":340,"wires":[["e2c73ddc.06b37","b676d3fd.40ad98"]]},{"id":"b676d3fd.40ad98","type":"function","z":"6ebb87cc.26e3a8","name":"set global Filename","func":"var newFilename = \"\";\nnewFilename += msg.payload.folder+\"/\";\nnewFilename += msg.payload.test;\nnewFilename += \"_\" + msg.payload.wire_length;\nnewFilename += \"_\" + msg.payload.shielded;\nglobal.set(\"fileName\",newFilename);\nmsg.payload = newFilename;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["b2d36356.b964f"]]},{"id":"68d4a495.dc32f4","type":"comment","z":"6ebb87cc.26e3a8","name":"What to Graph UI","info":"","x":960,"y":220,"wires":[]},{"id":"58ae313a.48a5f","type":"function","z":"6ebb87cc.26e3a8","name":"","func":"msg.payload = \"2\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":420,"wires":[["4c40428a.2f4de4"]]},{"id":"41d77106.870f48","type":"ui_button","z":"6ebb87cc.26e3a8","name":"","group":"7d9eb744.34c39","order":2,"width":0,"height":0,"passthru":false,"label":"range 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":940,"y":420,"wires":[["58ae313a.48a5f"]]},{"id":"4c40428a.2f4de4","type":"mqtt out","z":"6ebb87cc.26e3a8","name":"","topic":"adxl313/range","qos":"2","retain":"false","broker":"71c19d9.70226e4","x":1320,"y":420,"wires":[]},{"id":"909a7cb2.a35798","type":"function","z":"6ebb87cc.26e3a8","name":"","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":380,"wires":[["953ae49a.240d08","56c6623d.beb6d4"]]},{"id":"7b3f75e1.4ffbe4","type":"ui_button","z":"6ebb87cc.26e3a8","name":"","group":"7d9eb744.34c39","order":1,"width":0,"height":0,"passthru":false,"label":"range 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":940,"y":380,"wires":[["909a7cb2.a35798"]]},{"id":"953ae49a.240d08","type":"mqtt out","z":"6ebb87cc.26e3a8","name":"","topic":"adxl313/range","qos":"2","retain":"false","broker":"71c19d9.70226e4","x":1320,"y":380,"wires":[]},{"id":"eaee2d9f.3330e8","type":"ui_button","z":"6ebb87cc.26e3a8","name":"","group":"7d9eb744.34c39","order":3,"width":0,"height":0,"passthru":false,"label":"get meta data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"\"","payloadType":"str","topic":"","x":980,"y":600,"wires":[["209ecc03.1b6364"]]},{"id":"209ecc03.1b6364","type":"mqtt out","z":"6ebb87cc.26e3a8","name":"","topic":"queryDevice","qos":"2","retain":"false","broker":"71c19d9.70226e4","x":1190,"y":600,"wires":[]},{"id":"e3a3387e.cf8bb","type":"mqtt in","z":"6ebb87cc.26e3a8","name":"","topic":"accel/metadata","qos":"2","datatype":"auto","broker":"71c19d9.70226e4","x":980,"y":640,"wires":[["c298c653.455ec"]]},{"id":"c298c653.455ec","type":"json","z":"6ebb87cc.26e3a8","name":"","property":"payload","action":"","pretty":true,"x":1170,"y":640,"wires":[["208a6af2.631306","4d82ca67.7132b4"]]},{"id":"208a6af2.631306","type":"debug","z":"6ebb87cc.26e3a8","name":"metadata","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":680,"wires":[]},{"id":"f07486bd.67256","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":580,"wires":[]},{"id":"56c6623d.beb6d4","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":460,"wires":[]},{"id":"b0729464.774728","type":"json","z":"6ebb87cc.26e3a8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":780,"wires":[["92058d2f.41cb28","d3758aa9.23016","ec7078b3.5e8c48"]]},{"id":"92058d2f.41cb28","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":820,"wires":[]},{"id":"5c9215e7.cf42a4","type":"ui_chart","z":"6ebb87cc.26e3a8","name":"","group":"acabfb07.8190f","order":1,"width":0,"height":0,"label":"Accel 1 Chart has less points than actual measurement","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"waiting for data...","dot":true,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1400,"y":920,"wires":[[]]},{"id":"1e8b5654.e3596a","type":"function","z":"6ebb87cc.26e3a8","name":"set csv order","func":"let timeNow = new Date();\nvar x1 = {payload: msg.payload.xval, time: timeNow, accelid: msg.payload.accelID};\nvar y1 = {payload: msg.payload.yval, time: timeNow};\nvar z1 = {payload: msg.payload.zval, time: timeNow};\nvar rssi = {payload: msg.payload.rssi, time: timeNow};\nvar devTime = {payload: msg.payload.time, time: timeNow};\nreturn [x1,y1,z1,rssi,devTime];","outputs":5,"noerr":0,"x":910,"y":940,"wires":[["2d256ea6.5deeb2","e441b6ed.bf70c"],[],[],["cd98bb44.e220b"],[]]},{"id":"2d256ea6.5deeb2","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":1040,"wires":[]},{"id":"b2d36356.b964f","type":"ui_text","z":"6ebb87cc.26e3a8","group":"3ae27b4c.8ebb6c","order":2,"width":"0","height":"0","name":"filename","label":"","format":"{{msg.payload}}","layout":"col-center","x":620,"y":380,"wires":[]},{"id":"fa8cb961.d9f35","type":"delay","z":"6ebb87cc.26e3a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":1040,"wires":[["1e8b5654.e3596a"]]},{"id":"d3758aa9.23016","type":"switch","z":"6ebb87cc.26e3a8","name":"","property":"saveData","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":780,"wires":[["87b25120.15d6c8"]]},{"id":"ec7078b3.5e8c48","type":"switch","z":"6ebb87cc.26e3a8","name":"","property":"showSensor1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1040,"wires":[["fa8cb961.d9f35"]]},{"id":"4d82ca67.7132b4","type":"ui_form","z":"6ebb87cc.26e3a8","name":"","label":"receive setupdata","group":"7d9eb744.34c39","order":4,"width":0,"height":0,"options":[{"label":"output data rate","value":"output_data_rate","type":"text","required":false,"rows":null},{"label":"range","value":"range","type":"text","required":false,"rows":null},{"label":"sample time","value":"sample_time","type":"text","required":false,"rows":null},{"label":"device","value":"device_name","type":"text","required":false,"rows":null},{"label":"ID","value":"accelID","type":"text","required":false,"rows":null}],"formValue":{"output_data_rate":"","range":"","sample_time":"","device_name":"","accelID":""},"payload":"","submit":"submit","cancel":"","topic":"","x":1370,"y":640,"wires":[[]]},{"id":"cd98bb44.e220b","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":1080,"wires":[]},{"id":"1ec9e3a1.bc8d7c","type":"comment","z":"6ebb87cc.26e3a8","name":"Query for setup info","info":"asdf\n","x":950,"y":560,"wires":[]},{"id":"a64b8759.78f43","type":"comment","z":"6ebb87cc.26e3a8","name":"change range to record","info":"","x":960,"y":340,"wires":[]},{"id":"106492df.909395","type":"comment","z":"6ebb87cc.26e3a8","name":"graph on screen branch","info":"","x":610,"y":1000,"wires":[]},{"id":"7c86f15f.c3b4a","type":"comment","z":"6ebb87cc.26e3a8","name":"save to CSV branch","info":"","x":590,"y":740,"wires":[]},{"id":"e441b6ed.bf70c","type":"switch","z":"6ebb87cc.26e3a8","name":"","property":"accelid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":920,"wires":[["5c9215e7.cf42a4"],[]]},{"id":"2cc45cf4.5344a4","type":"csv","z":"6ebb87cc.26e3a8","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"time, time2, x,y,z","skip":"0","strings":true,"x":970,"y":1300,"wires":[["46a1a156.c0774"]]},{"id":"46a1a156.c0774","type":"file","z":"6ebb87cc.26e3a8","name":"log sensor data","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1140,"y":1300,"wires":[[]]},{"id":"a2f40676.8bb6","type":"function","z":"6ebb87cc.26e3a8","name":"format xyz data","func":"var d = new Date();\nvar accelID = msg.payload.accelID;\nmsg.payload = [d.getTime(),msg.payload.time,msg.payload.xval,msg.payload.yval,msg.payload.zval,msg.payload.rssi];\nmsg.filename=\"/home/pi/logs/\"+global.get(\"fileName\")+\"_\"+accelID+\".csv\";\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1300,"wires":[["2cc45cf4.5344a4","d44414ed.aba988"]]},{"id":"b2a9811a.487848","type":"mqtt in","z":"6ebb87cc.26e3a8","name":"","topic":"data/accel2","qos":"2","datatype":"auto","broker":"71c19d9.70226e4","x":150,"y":1280,"wires":[["adb4d45c.bc07d","67809b28.ce70d4"]]},{"id":"d44414ed.aba988","type":"debug","z":"6ebb87cc.26e3a8","name":"format xyz data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":1340,"wires":[]},{"id":"adb4d45c.bc07d","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":1340,"wires":[]},{"id":"67809b28.ce70d4","type":"json","z":"6ebb87cc.26e3a8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1300,"wires":[["8b74e030.e36638","eafc0cd2.155c8","466a35c3.234f94"]]},{"id":"8b74e030.e36638","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":1340,"wires":[]},{"id":"9553fe28.b152a","type":"function","z":"6ebb87cc.26e3a8","name":"set csv order","func":"let timeNow = new Date();\nvar x1 = {payload: msg.payload.xval, time: timeNow, accelid: msg.payload.accelID};\nvar y1 = {payload: msg.payload.yval, time: timeNow};\nvar z1 = {payload: msg.payload.zval, time: timeNow};\nvar rssi = {payload: msg.payload.rssi, time: timeNow};\nvar devTime = {payload: msg.payload.time, time: timeNow};\nreturn [x1,y1,z1,rssi,devTime];","outputs":5,"noerr":0,"x":890,"y":1460,"wires":[["e4bc9f5c.306058","8abd864b.ddc228"],[],[],["f68e58c.f512b28"],[]]},{"id":"e4bc9f5c.306058","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1560,"wires":[]},{"id":"8211b3b2.b703d","type":"delay","z":"6ebb87cc.26e3a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":1560,"wires":[["9553fe28.b152a"]]},{"id":"eafc0cd2.155c8","type":"switch","z":"6ebb87cc.26e3a8","name":"","property":"saveData","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1300,"wires":[["a2f40676.8bb6"]]},{"id":"466a35c3.234f94","type":"switch","z":"6ebb87cc.26e3a8","name":"","property":"showSensor1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1560,"wires":[["8211b3b2.b703d"]]},{"id":"f68e58c.f512b28","type":"debug","z":"6ebb87cc.26e3a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":1600,"wires":[]},{"id":"e3481af9.0c4978","type":"comment","z":"6ebb87cc.26e3a8","name":"graph on screen branch","info":"","x":590,"y":1520,"wires":[]},{"id":"8abd864b.ddc228","type":"switch","z":"6ebb87cc.26e3a8","name":"","property":"accelid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1440,"wires":[[],["3f09526a.2d09be"]]},{"id":"3f09526a.2d09be","type":"ui_chart","z":"6ebb87cc.26e3a8","name":"","group":"acabfb07.8190f","order":1,"width":0,"height":0,"label":"Accel 2 Chart has less points than actual measurement","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"waiting for data...","dot":true,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1370,"y":1500,"wires":[[]]},{"id":"1492bffa.f6f57","type":"comment","z":"6ebb87cc.26e3a8","name":"save to CSV branch","info":"","x":570,"y":1260,"wires":[]},{"id":"3ae27b4c.8ebb6c","type":"ui_group","z":"","name":"Default","tab":"2b7acf94.483ac8","order":3,"disp":true,"width":"6","collapse":true},{"id":"71c19d9.70226e4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"afeefa84.086678","type":"ui_group","name":"Group 4","tab":"2b7acf94.483ac8","order":2,"disp":true,"width":6},{"id":"7d9eb744.34c39","type":"ui_group","z":"","name":"Setup","tab":"2b7acf94.483ac8","order":1,"disp":true,"width":"6","collapse":false},{"id":"acabfb07.8190f","type":"ui_group","z":"","name":"Graphs","tab":"2b7acf94.483ac8","order":4,"disp":true,"width":"8","collapse":true},{"id":"2b7acf94.483ac8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]